h2{
  text-align: center;
}
h2{
  text-align: center;
}
p{
  text-align: center;
}
.flashy {
  color: red;
  font-style: italic;
}

.best {
  color: purple;
  font-family: cursive;
}
body {
  color: lightpink;
}
